@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@1,100&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.mainContainer {
    padding: 2.5rem 2rem 2.5rem 1rem;
}

.closebtn {
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    border-radius: 3.125rem;
    background: #FFF;
    border: 0px;
    position: relative;
    left: 580px;
    bottom: 8px;
    box-shadow: 0 0 2px #888;
    cursor: pointer;
}

.maincardcontainer {
    max-width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px #888;
    border-radius: 1rem;
}

.cardcontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
}

.firstcardcontainer {
    width: 19.625rem;
    height: 37.4375rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    background-color: #F8F9FF;
    border-radius: 1rem 0rem 0rem 1rem;
}

.headingcontianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    align-self: stretch;
}


.headinicons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
}

.explorefnt {
    color: #000;
    text-align: start;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
}

.explorefbtpar {
    color: #6D6D6D;
    text-align: start;
    font-family: 'Inter';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.0125rem;
}

.btncontianerexplore {
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.577rem;
    border-radius: 0.34619rem;
    border: 1px solid #0A9CED;
    background: linear-gradient(91deg, #219EE3 1.19%, rgba(101, 184, 234, 0.68) 99.21%);
}

.btncontianerexplore p {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.0625rem;
}


.btncontianerachieve {
    display: flex;
    padding: 0.125rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.577rem;
    border-radius: 0.34619rem;
    border: 0.5px solid #FFE180;
    background: linear-gradient(99deg, rgba(216, 158, 45, 0.80) -20.62%, rgba(253, 223, 125, 0.29) 112.82%);
}

.btncontianerachieve>p {
    color: #3D3D3D;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.0625rem;
}



.firstfnt {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
    width: 100%;
    color: #1A1A1A;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
}


.lastcontianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.lastheading_ {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.lastheadingfnt {
    color: #3D3D3D;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0625rem;
}

.lastheadingfnt_ {
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.last_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}

.secondcardcontainer {
    width: 19.625rem;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;

}

.tooglecontainer {
    display: flex;
    padding: var(--Spacing-gap-8, 0.5rem);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-radius: var(--Curve-curve-md, 0.5rem);
    background: var(--Bg, #F8F9FF);
}

.toogleexplore {
    cursor: pointer;
    display: flex;
    height: 2.375rem;
    padding: 0rem var(--Spacing-card-tB-lR, 1rem);
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    border-radius: var(--Curve-curve-md, 0.5rem);
    background: var(--Bg, #F8F9FF);
}

.tooglefnt {
    color: #3D3D3D;
    text-align: center;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0rem;
    letter-spacing: 0.0225rem;
}

.pricecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.pricebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.price_fnt {
    color: #6D6D6D;
    font-family: 'Inter';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    text-align: center;
}

.price_gst {
    color: #6D6D6D;
    font-family: 'Inter';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
}

.price_fnt_ {
    color: #3D3D3D;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8125rem;
}

.price_gst_ {
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
}

.price___ {
    color: var(--Black-300, #B0B0B0);
    text-align: center;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.015rem;
}

.btncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}




.btn_dsgdsgs {
    display: flex;
    height: 2.375rem;
    width: 100%;
    padding: 0.75rem var(--Spacing-card-tB-lR, 1rem);
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    border-radius: var(--Curve-curve-md, 0.5rem);
    background: linear-gradient(90deg, #34B4FC 0%, #007BCB 100%);
    color: var(--Black-0, #FFF);
    text-align: center;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 600;
    border: 0;
    letter-spacing: 0.0225rem;
    cursor: pointer;
}

.compare {
    padding-top: 0.5rem;
    color: var(--Black-500, #6D6D6D);
    text-align: center;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0rem;
    /* 0% */
    letter-spacing: 0.0225rem;
    cursor: pointer;
}

.btncontianerexploremobile {
    display: none;
}

.btncontianerexploremobile_par {
    display: none;
}

.btncontianerachievemobile {
    display: none;
}

.btncontianerachievemobile_par {
    display: none;
}



/* Media Querries */


@media only screen and (max-width: 481px) {
    .firstcardcontainer {
        display: none;
    }

    .closebtn {
        left: 275px;
        width: 2.5rem;
        height: 2.5rem;
        padding:0.65rem;
    }

    .btncontianerexploremobile {
        display: flex;
        padding: 0.125rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.577rem;
        border-radius: 0.34619rem;
        border: 1px solid #0A9CED;
        background: linear-gradient(91deg, #219EE3 1.19%, rgba(101, 184, 234, 0.68) 99.21%);
    }

    .btncontianerexploremobile_par {
        display: block;
        color: #FFF;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.0625rem;
    }

    .btncontianerachievemobile {
        display: flex;
        padding: 0.125rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.577rem;
        border-radius: 0.34619rem;
        border: 0.5px solid #FFE180;
        background: linear-gradient(99deg, rgba(216, 158, 45, 0.80) -20.62%, rgba(253, 223, 125, 0.29) 112.82%);
    }

    .btncontianerachievemobile_par {
        display: block;
        color:  #3D3D3D;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.0625rem;
        /* 170% */
    }
}



@media screen and (min-width: 481px) and (max-width: 768px) {
    .firstcardcontainer {
        display: none;
    }

    .closebtn {
        left: 275px;
        width: 2.5rem;
        height: 2.5rem; 
        padding:0.65rem;
    }

    .btncontianerexploremobile {
        display: flex;
        padding: 0.125rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.577rem;
        border-radius: 0.34619rem;
        border: 1px solid #0A9CED;
        background: linear-gradient(91deg, #219EE3 1.19%, rgba(101, 184, 234, 0.68) 99.21%);
    }

    .btncontianerexploremobile_par {
        display: block;
        color: #FFF;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.0625rem;
    }

    .btncontianerachievemobile {
        display: flex;
        padding: 0.125rem 0.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.577rem;
        border-radius: 0.34619rem;
        border: 0.5px solid #FFE180;
        background: linear-gradient(99deg, rgba(216, 158, 45, 0.80) -20.62%, rgba(253, 223, 125, 0.29) 112.82%);
    }

    .btncontianerachievemobile_par {
        display: block;
        color:  #3D3D3D;
        text-align: center;
        font-family: 'Montserrat';
        font-size: 0.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.0625rem;
        /* 170% */
    }




}