.heading {
    display: flex;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.maintitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}

.mainTitleColor {
    width: 0.625rem;
    height: 2.3125rem;
    border-radius: 0.25rem;
    background: rgba(7, 44, 74, 0.24);
}

.fonttitle {
    padding-top: 0.25rem;
    box-sizing: border-box;
}

