.mainContainer {
    padding: 2.5rem 2rem 2.5rem 1rem;
}


.acr{
    text-align: center;
}

.accordingContainer{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top: 4rem;
    box-sizing: border-box;

}

.accordingInside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.accordinLine{
    border:1px solid  #979797;
    background: var(--textGrey, #979797);
}

.accordingcontainer__{
    padding: 1rem 30rem;
}

.acrdTitle{
  padding-bottom: 1.5rem;


}



@media screen and (max-width: 481px) {
    .accordingcontainer__{
       padding:0rem 0rem;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px){
    .accordingcontainer__{
        padding:0rem 0rem;
     }
    }
 @media screen and (min-width: 769px) and (max-width: 1024px){
    .accordingcontainer__{
        padding:0rem 0rem;
     }
 }
 @media screen and (min-width: 1025px) and (max-width: 1200px){
    .accordingcontainer__{
        padding:0rem 0rem;
     }
 }
 @media screen and (min-width: 1201px) and (max-width:1600px){
    .accordingcontainer__{
        padding:0rem 0rem;
     }
 }