.maincontainer {
    width: 90%;
    left: 5%;
    top: 2350px;
    bottom: 0;
    width: 90%;
    position: absolute;
    z-index: 1;
}

.container {
    display: flex;
    padding: var(--Spacing-gap-16, 1rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Spacing-gap-24, 1.5rem);
    align-self: stretch;
    border-radius: var(--Curve-curve-lg, 1rem);
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(50, 50, 71, 0.06), 0px 4px 8px 0px rgba(0, 100, 168, 0.08);

}

.firstContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.icons {
    padding: 0.25rem;
    position: absolute;
    right: 0;
    top: -0.5rem;
    border-radius: 1.5625rem;
    background: #111112;
    color: white;
}

.bar {
    width: 0.625rem;
    height: 2.3125rem;
    border-radius: var(--Curve-curve-sm, 0.25rem);
    background: rgba(7, 44, 74, 0.24);
}

.firstBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}


.tooglecontianer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.tooglefnt {
    padding-bottom: 0.5rem;
    color: #007BCB;
    font-family: 'Montserrat';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0625rem;
    border-bottom: 1px solid #007BCB;
    transform: scaley(1rem);
}

.secondcontainer {
    display: flex;
    width: 62rem;
    padding: var(--Spacing-gap-3, 0.75rem) var(--Spacing-gap-0, 0rem);
    align-items: center;
    align-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.card {
    position: relative;
    display: flex;
    width: 19.625rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #F8F9FF;
    box-shadow: 0px 4px 8px 0px rgba(0, 100, 168, 0.08), 0px 4px 16px 0px rgba(50, 50, 71, 0.06);
}

.card:hover {
    background: var(--Primary-Blue-100, #DFF0FF);
}

.cardimage {
    height: 11.9375rem;
    align-self: stretch;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0.21%, rgba(0, 0, 0, 0.50) 100%), lightgray 50% / cover no-repeat;
}

.btnHead {
    color: var(--Black-0, #FFF);
    text-align: center;
    font-family: "Inter";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0rem;
    /* 0% */
    letter-spacing: 0.0225rem;
    border: 0px;
    color: white;
    position: absolute;
    right: 1.125rem;
    top: 11rem;
    display: flex;
    height: 2.375rem;
    padding: 0rem 0.75rem 0rem var(--Spacing-gap-8, 0.5rem);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    border-radius: var(--Curve-curve-md, 0.5rem);
    background: linear-gradient(90deg, #34B4FC 0%, #007BCB 100%);
}


.cardHead {
    display: flex;
    padding: var(--Spacing-gap-0, 0rem) var(--Spacing-gap-8, 0.5rem);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--Spacing-gap-8, 0.5rem);
    align-self: stretch;
}

.textfnt {
    color: #888;
}

.cardBottom {
    display: flex;
    padding: var(--Spacing-gap-0, 0rem) var(--Spacing-gap-8, 0.5rem);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}



.cardBottomcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4375rem;
}

.profile {
    width: 1.25rem;
    height: 1.1875rem;
    background: lightgray -1.108px -5.938px / 326.077% 187.5% no-repeat;
}

.timecounter {
    display: flex;
    padding: 0.125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-gap-0, 0rem);
    align-self: stretch;
    border-radius: var(--Curve-curve-sm, 0.25rem);
    background: #FFF;
}

.btn {
    display: flex;
    width: 7rem;
    height: 2.375rem;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: var(--Curve-curve-md, 0.5rem);
    background: linear-gradient(90deg, #34B4FC 0%, #007BCB 100%);
    color: white;
    border: 0px;
    cursor: pointer;
}



.viewBtn {
    padding: 0.75rem;
    border-radius: 1.5625rem;
    background: #F8F9FF;
    border: 0px;
    cursor: pointer;
}

.viewBtn:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 100, 168, 0.08), 0px 4px 16px 0px rgba(50, 50, 71, 0.06);
}

.cardfnt:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 100, 168, 0.08), 0px 4px 16px 0px rgba(50, 50, 71, 0.06);
}

.secondtimectr {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: space-between;
    align-items: center;
}

.secondfnt {
    color: var(--Primary-Blue-600, #007BCB);
    text-align: center;
    font-family: 'Inter';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0.015rem;
}

.secondcontainerrr {
    height: 35rem;
    overflow: scroll;
}